@import "../mixins";

.slider {
    width: 360px;
    overflow: hidden;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include mq(lg) {
        display: none;
    }

    &__line {
        display: flex;
        transition: all 1s;
    }

    &__img {
        width: 360px;
    }

    &__btn-prev {
        position: absolute;
        left: 13px;
        top: 50%;
        transform: translate(-50%) rotate(180deg);
        font-size: 30px;

        color: rgb(255, 255, 255, 0.849);
        background-color: transparent;

        line-height: 1;
    }

    &__btn-next {
        position: absolute;
        left: 345px;
        top: 50%;
        transform: translate(-50%);
        font-size: 30px;

        color: rgb(255, 255, 255, 0.849);
        background-color: transparent;

        line-height: 1;
    }

    
    &__btn-prev:hover,
    &__btn-next:hover {
        cursor: pointer;
        color: #030000;
    }
}