// Colors
$primary-color: rgb(38, 38, 44);
$hover-color: #710000;
$text-color: #e0e0e0;
$befo-color: lightgray;
$futer-color:  #030000;

// Typography
$font-family-primary: Mplus 1p;
$font-family-second: Montserrat;

// Breakpoints
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1280px;
$screen-xl: 1368px;
$screen-xxl: 1920px;
$screen-2k: 2560px;
$screen-4k: 3840px;
